*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    font-size: 10px;
    background-color: #F2EDD0;
}
form{
    width: 40em;
    height: 60em;
    background-color: #fff; 
    padding: 6em 5em;
    box-sizing: border-box;
    margin-top: 2em;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 5em;;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    box-shadow: 0px 0px 15px -5px #58555A;
}
h2{
    font-size: 2em;
    text-align: left;
    color: #31384A;
}
.text{
    font-size: 1.2em;
    color: #31384A;
    margin-bottom: 2em;
}
.ordenes{
    font-size: 1.4em;
    color: #31384A;
    margin-bottom: 0.5em;
}

.cuadros, textarea{
    width: 100%;
    height: 3em;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.7em;
    border: none;
    border-radius: 0.3em;
    background-color: #F2F2F2;
    outline: none;
    font-size: 1.2em;
    margin-bottom: 2em;
}
textarea{
    min-height: 10em;
    max-height: 10em;
    max-width: 100%;
    min-width: 100%;
} 
#boton{
    width: 8em;
    height: 3.5em;
    background: #31384A;
    color: #fff;
    text-align: center;
    padding: 0.8;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-size: 1.3em;
}
#boton:hover{
    cursor: pointer;
}

@media (max-width:480px){
    form{
        width: 80%;
    }
}
